
body {
  font-size: x-large;
}

.app {
  display: table;
  margin: 1em auto;
}

.chore-header {
  text-align: left;
}

table.chore-view, .chore-view th, .chore-view tr, .chore-view td {
  border: thin solid #a0a0ff;
}

.chore-view td {
  padding: 5px 15px;
}

.header-option {
  border: 3px outset black;
  border-radius: 5px;
}

.chore-row {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chore-row:hover {
  background-color: #e0e0ff;
}

.chore-row:active {
  background-color: #c0c0ff;
}