
body {
  font-size: x-large;
  font-family: monospace;
  background-color: #ffebcd;
}

.app {
  display: table;
  margin: 1em auto;
}

.chore-header {
  margin-right: 1em;
}

.chore-view {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 7px;
  border-top-left-radius: 0;
}

.chore-row {
  background-color: #ffd79a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border: 2.5px dashed black;
  border-radius: 7px;
  margin: 5px;
  transition: 0.4s;
  cursor: pointer;
}

.chore-row {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chore-row:hover {
  background-color: #ffc876;
  transition: 0.4s
}

.chore-row:active {
  background-color: #ffdeac;
  transition: 0.4s
}

.header-option {
  background-color: #ffd79a;
  border: 3px outset gray;
  border-style: outset outset none outset;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  padding: 3px;
}

.header-option-unchecked {
  border-style: outset outset none outset;
}

.header-option-checked {
  border-style: inset inset none inset;
}